.banner{
  background-image:url('https://firebasestorage.googleapis.com/v0/b/apojtiendatcc.appspot.com/o/R-11950406-1525321734-2793.jpg?alt=media&token=1ea026dd-85c3-4103-aa40-9e5d2182827e');
    background-position: top center;
    background-size: cover;
    padding: 5% 30% 20% 20%;
    height: 100%;
}
